body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* ===================
Typography
=================== */

h1 {
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    color: #143774;
    font-size: 2rem;
    margin: 0;
}

.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
}

/* ===================
Layout
=================== */

header {
    text-align: center;
    background: #f8f8f8;
    padding: 2em 0;
}

/* navigation */

nav ul {
    
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    
}

nav li {
    
    margin: 0 1em;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}
