html, body {
    margin: 0;
    padding: 0;
    background-image: url('images/table.webp');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Exo 2", sans-serif;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    background-color: #fff100;
    cursor: pointer;
    border: none;
}

button#new-deck {
    align-self: flex-start;
    padding: 5px;
}

button.draw {
    font-size: 1.2em;
    padding: 10px;
}